@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,700;1,400;1,700&family=Roboto+Condensed:ital@1&family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  flex: 0 1 auto;
  display: block;
  color: #fff;
  background-color: rgb(30, 30, 35);
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 3;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.navbar-main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-left ul li {
  display: inline-block;
  align-items: center;
  margin: 0 5px;
  line-height: 80px;
}

.inner-left ul li a {
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form input,
.search-form button {
  padding: 15px;
  font-size: 16px;
}
.r-button,
.l-button {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  text-transform: capitalize;
}

.r-button:hover,
.l-button:hover,
.search-button:hover {
  background-color: #65def1;
}

/* MAIN CONTENT */

#main {
  justify-content: center;
  flex: 1 0 auto;
  display: flex;
}

/* SIDEBAR */

.sidebar {
  background: #1b1b1b;
  overflow: hidden;
  min-width: 15%;
  max-width: 20%;
  position: sticky;
  top: 0;
}

.sidebar .text {
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  letter-spacing: 1px;
}

.sidebar ul {
  /* height: 100%; */
  /* width: 100%; */
  list-style: none;
}

.sidebar ul li {
  line-height: 60px;
}
.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
}
.sidebar ul ul a {
  padding-left: 80px;
}
.sidebar ul li a:hover {
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

.sidebar li ul {
  display: none;
}
.sidebar li:hover ul {
  display: block;
}

/* CARDS BOX */

.products {
  width: 100%;
  flex-grow: 3;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: flex-start; */
  /* gap: 10px; */
  /* justify-content: center;
  align-items: center; */
  width: 100%;
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

/* PRODUCT BOX */

.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  line-height: 1.5;
}

.card-wrapper img {
  width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img {
  min-width: 100%;
}
.img-select {
  display: flex;
}
.img-item {
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}
.img-item:hover {
  opacity: 0.8;
}

.product-content {
  padding: 2rem 1rem;
}

.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}

.product-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}

.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover {
  opacity: 0.9;
}
.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.new-price span {
  color: #f64749;
  font-weight: 400;
}
.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.ulist li {
  list-style: none;
  background: url(poze/checked.png) left center no-repeat;
  background-size: 1rem;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span {
  font-weight: 400;
}
.purchase-info {
  margin: 1.5rem 0;
}
.purchase-info input {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info input[type="submit"] {
  cursor: pointer;
  color: #fff;
}
.purchase-info input[type="submit"] {
  background: #256eff;
}

.purchase-info input[type="submit"]:hover {
  opacity: 0.9;
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }
}

/* FOOTER */

footer {
  flex: 0 1 40px;
  height: 2.5rem;
  width: 100%;
  background-color: rgb(30, 30, 35);
  color: #fff;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* REGISTER */
#register {
  display: block;
  background-color: #eee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.message {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 10px;
  background-color: #fff;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  cursor: pointer;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  flex-direction: column;
}

.form-container form {
  width: 500px;
  border-radius: 5px;
  border: 2px solid #333;
  text-align: center;
  background-color: #fff;
}

.form-container form h3 {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #333;
}

.form-container form .form-box {
  width: 90%;
  border-radius: 5px;
  border: 2px solid #333;
  padding: 12px 14px;
  font-size: 18px;
  margin: 10px 0;
}

.form-container form p {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

.form-container form p {
  color: #e74c3c;
}

.form-container form p a:hover {
  text-decoration: underline;
}

.btn,
.delete-btn,
.option-btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  text-transform: capitalize;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
  background-color: #333;
}
.btn {
  background-color: #3498db;
  margin-top: 10px;
}

.delete-btn {
  background-color: #e74c3c;
}

.option-btn {
  background-color: #f39c12;
}

/* CART */

.shopping-cart {
  padding: 20px 0;
}

.shopping-cart table {
  text-align: center;
  width: 100%;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.shopping-cart table thead {
  background-color: #333;
}

.shopping-cart table thead th {
  padding: 10px;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
}

.shopping-cart table .table-bottom {
  background-color: #eee;
}

.shopping-cart table .table-bottom .total {
  text-align: right;
}
.shopping-cart table tr td {
  padding: 10px;
  font-size: 20px;
  color: #333;
}

.shopping-cart table tr td:nth-child(1) {
  padding: 0;
}

.shopping-cart table tr td input[type="number"] {
  width: 70px;
  border: 2px solid #333;
  padding: 12px 14px;
  font-size: 20px;
  color: #333;
}

.shopping-cart .cart-btn {
  margin-top: 10px;
  text-align: center;
}

.shopping-cart .disabled {
  pointer-events: none;
  background-color: #e74c3c;
  opacity: 0.5;
  user-select: none;
}

/* Styles for product card */

.product {
  flex: 1 0 21%;
}

.product .product-card {
  z-index: 1;
  background: #1d212b;
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px;
  border-radius: 10px;
}

.product .product-card::before {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product .product-card .product-img {
  z-index: 1;
  position: absolute;
  max-width: 350px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.product .product-card .product-name {
  z-index: 2;
  position: absolute;
  color: #fff;
  text-shadow: 0 0 5px #000;
  width: 100%;
  text-align: center;
  bottom: 130px;
  font-size: 20px;
  letter-spacing: 1px;
}

.product .product-card .product-price {
  z-index: 2;
  position: absolute;
  color: #fff;
  text-shadow: 0 0 5px #000;
  text-align: center;
  width: 100%;
  bottom: 80px;
  font-size: 30px;
  font-weight: 300;
}

.product .product-card .popup-btn {
  z-index: 2;
  position: absolute;
  color: #fff;
  background: #555;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.product .product-card .popup-btn:hover {
  background: #009dd2;
}

/* Styles for popup card */

.product .popup-view {
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.product .popup-view.active {
  opacity: 1;
  visibility: visible;
}

.product .popup-card {
  position: relative;
  display: flex;
  width: 800px;
  height: 200px;
  margin: 20px;
}

.product .popup-card .product-img {
  z-index: 2;
  background: #1d212b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 90%;
  transform: translateY(25px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product .popup-card .product-img img {
  z-index: 2;
  position: relative;
  width: 450px;
  left: -50px;
}

.product .popup-card .info {
  z-index: 2;
  background: #c1908b;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px;
}

.product .popup-card .close-btn {
  color: #555;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.product .popup-card .info h2 {
  font-size: 40px;
  line-height: 20px;
  margin: 10px;
}

.product .popup-card .info h2 span {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.product .popup-card .info p {
  font-size: 15px;
  margin: 10px;
}

.product .popup-card .info .price {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

.product .popup-card .info .add-cart-btn {
  color: #fff;
  background: #555;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px 50px;
  border-radius: 20px;
  cursor: pointer;
}

.product .popup-card .info .add-cart-btn:hover {
  background: #009dd2;
}
/*Responsive styles*/

@media (max-width: 900px) {
  .product .popup-card {
    flex-direction: column;
    width: 550px;
    height: auto;
  }

  .product .popup-card .product-img {
    z-index: 3;
    width: 100%;
    height: 200px;
    transform: translateY(0);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .product .popup-card .product-img img {
    left: initial;
    max-width: 100%;
  }

  .product .popup-card .info {
    width: 100%;
    height: auto;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .product .popup-card .info h2 {
    margin: 20px 5px 5px 5px;
    font-size: 25px;
  }

  .product .popup-card .info h2 span {
    font-size: 10px;
  }
  .product .popup-card .info .color-section .color-select {
    width: 100%;
    height: 3rem;
  }

  .product .popup-card .info p {
    margin: 5px;
    font-size: 13px;
  }

  .product .popup-card .info .price {
    margin: 5px;
    font-size: 30px;
  }

  .product .popup-card .info .add-cart-btn {
    margin: 5px auto;
    padding: 5px 40px;
    font-size: 14px;
  }

  .product .popup-card .info .add-wish {
    font-size: 14px;
  }

  .product .popup-card .close-btn {
    z-index: 4;
  }
}

/* Checkout page */

.checkout-container {
  width: 100%;
  background: #eee;
}

/* Form Styles */
.checkout-form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 1rem;
}

.checkout-form h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.nume-prenume {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.nume {
  width: 100%;
}
.checkout-form label {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.checkout-form input[type="text"],
.checkout-form input[type="email"],
.checkout-form input[type="tel"],
.checkout-form select,
.checkout-form select option {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.checkout-form input[type="submit"] {
  display: block;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.checkout-form input[type="submit"]:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid;
}

.checkout-form .showDiv,
.checkout-form .showDiv1 {
  border: 1px solid #333;
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 1rem;
}

/* ACCOUNT */

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.account-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-menu {
  border-right: 1px solid black;
  align-items: center;
  flex: 1;
}

.wrapper .container {
  flex: 4;
}

.wrapper .container form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 500px;
  padding: 12px 16px;
}

.wrapper .container form .form-row {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 12px 14px;
  font-size: 18px;
  margin: 10px 0;
  gap: 5px;
}
.wrapper .container form .form-row .form-col {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  padding: 12px 6px;
  width: 100%;
}

.wrapper .container form .form-row .form-col textarea {
  font-size: 1.25rem;
}

.half {
  width: 50%;
}

/* ORDERS */
.orders-wrapper {
  width: 100%;
}

.search-wrapper {
  padding: 12px 0;
}

.search_form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#checkbox-search {
  padding: 12px 15px;
}

#table_field {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
#table_field thead tr {
  background-color: #008cba;
  text-align: left;
  font-weight: bold;
}

#table_field tbody tr td img {
  height: 80px;
}

#table_field th,
#table_field td {
  padding: 12px 15px;
}
#table_field tbody tr {
  border-bottom: 1px solid #dddddd;
}

.total {
  text-align: end;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 700px;
  max-width: 80%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: 700;
}

.modal-header .close-btn {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: 700;
  background: none;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  transition: 200ms ease-in-out;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

/* SHOW MORE TABLE */

.modal-body .table-row {
  display: flex;
  max-width: fit-content;
}

.modal-body .table-cell {
  height: 100px;
  max-height: 100px;
  width: 250px;
  max-width: 250px;
  padding: 1em;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body .table-cell img {
  object-fit: fill;
}

.modal-body .table-row:nth-child(even) {
  background: lightblue;
}

/* ORDER DETAILS */

.order-detail-header {
  padding: 12px 15px;
  width: 100%;
  margin-bottom: 12px;
  background-color: #008cba;
  font-size: 2rem;
}

.table-container {
  width: 100%;
}

.info {
  display: flex;
  width: 100%;
  flex-direction: column;
}
