@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,700;1,400;1,700&family=Roboto+Condensed:ital@1&family=Roboto:wght@700&display=swap");
/* GENERAL */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --slider-padding: 2.15rem;
  --img-gap: 0.25rem;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f7;
}

img {
  max-width: 100%;
}

.container {
  padding: 0 10px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

/* HEADER */
.header {
  color: #fff;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: rgba(30, 30, 35, 1);
}

.search-trigger {
  cursor: pointer;
  width: 3em;
  height: 3em;
  padding: 0em;
  border: 0;
  border-radius: 50%;
  position: absolute;
  right: 3%;
  transform: translateY(15px);
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: rgba(30, 30, 35, 1);
  color: #fff;
  transition: opacity 250ms ease;
  position: absolute;
  left: 3%;
  transform: translateY(15px);
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.8;
  background-color: #3d3a3a;
}

.hamburger {
  font-size: 2.5rem;
}

.navbar-main {
  width: 100%;
  display: none;
  height: calc(100vh - 84px);
  left: 0;
  top: 84px;
  position: absolute;
  background-color: rgba(30, 30, 35, 1);
  z-index: 1000;
  overflow: scroll;
}

.nav--visible {
  display: block;
}

.navbar-main .nav_categories > li {
  line-height: 80px;
  margin-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.navbar-main .nav_categories > li:first-child {
  margin-top: 0.5rem;
}

.navbar-main ul ul {
  padding-left: 2rem;
}

.nav_categories .sidemenu-row a {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding-left: 1rem;
}

.nav_categories .sidemenu-row i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
  padding: 1rem;
}

.navbar-main ul li a {
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.logo img {
  height: 5rem;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid wheat;
}

.nav-links-label {
  text-transform: capitalize;
  font-size: medium;
}

.icon-padding {
  padding: 0.25rem 0;
}

.search-bar {
  background-color: #000;
  opacity: 0.8;
}

.search-bar input {
  width: 100%;
  display: inline-block;
  height: 4em;
}

.header-large {
  display: none;
}

/* HEADER LARGE */

.header-large {
  background-color: rgb(30 30 35 / 99%);
}

.nav-large {
  display: flex;
  justify-content: space-between;
}

.nav-large ul {
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.header-large--search {
  flex: 1 1 0;
}

.header-large--search input {
  margin: 2em 1em;
  width: 100%;
  border-radius: 100px;
  padding: 1em 0.75em;
}

.nav-button {
  text-transform: uppercase;
  border-radius: 24px;
  padding: 0.5em;
  color: #fff;
}

.nav-button:hover {
  cursor: pointer;
  background-color: #b0c4de;
}

.danger:hover {
  background-color: rgba(255, 15, 15, 0.596);
}

.nav_categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_categories ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding-left: 1em;
}

.nav_categories ul li i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
}

.nav_categories li ul {
  display: none;
  align-items: flex-start;
}

/* MAIN CONTENT */

#main {
  margin-top: 85px;
}

.main-wrapper {
  padding-top: 1rem;
  display: flex;
}

/* SIDEBAR */

.sidebar {
  overflow: hidden;
  position: sticky;
  flex: 0 0 200px;
  top: 0;
  display: none;
}

.sidebar .text {
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  letter-spacing: 1px;
}

.sidebar ul li {
  line-height: 60px;
}

.sidemenu-row {
  position: relative;
}

.sidebar ul li a {
  font-size: 18px;
  font-weight: 500;
  display: block;
}
.sidebar ul li .sidemenu-row {
  transition: padding 0.1s ease-in-out;
}

.sidebar ul li i {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
  padding: 1rem;
}
.sidebar ul ul a {
  padding-left: 2.5rem;
  transition: padding 0.1s ease-in-out;
}

.sidebar ul li .sidemenu-row:hover {
  border-left: 2px solid #1d212b;
  padding-left: 1rem;
}

.sidebar ul ul li a:hover {
  border-left: 2px solid #1d212b;
  padding-left: 3.5rem;
}

.sidebar li ul {
  display: none;
}

/* Products box */

/* Styles for product card */

.product .product-card {
  z-index: 1;
  background: #1d212b;
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 30px;
}

.product .product-card::before {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.product .product-card .product-img {
  z-index: 4;
  position: absolute;
  max-width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.product .product-card .product-name {
  z-index: 5;
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  width: 100%;
  text-align: center;
  bottom: 130px;
  font-size: 20px;
  letter-spacing: 1px;
}

.product .product-card .product-price {
  z-index: 5;
  position: absolute;
  color: #fff;
  text-shadow: 0 0 5px #000;
  text-align: center;
  width: 100%;
  bottom: 80px;
  font-size: 30px;
  font-weight: 300;
}
/* Styles for popup card */
.product .product-card .popup-btn {
  z-index: 2;
  position: absolute;
  color: #fff;
  background: #555;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.product .product-card .popup-btn:hover {
  background: #009dd2;
}

.product .popup-view {
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.product .popup-view.active {
  opacity: 1;
  visibility: visible;
}

.product .popup-card {
  position: relative;
  display: flex;
  width: 800px;
  height: auto;
  margin: 20px;
}

.product .popup-card .product-img {
  z-index: 2;
  background: #1d212b;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.product .popup-card .product-img img {
  z-index: 2;
  position: relative;
  width: 450px;
  left: 0;
}

.product .popup-card .info {
  /* z-index: 1; */
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 55%;

  box-sizing: border-box;
  padding: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product .popup-card .close-btn {
  color: #555;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.product .popup-card .info h2 {
  font-size: 40px;
  line-height: 20px;
  margin: 10px;
}

.product .popup-card .info h2 span {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.product .popup-card .info p {
  font-size: 15px;
  margin: 10px;
}

.product .popup-card .info .price {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

.product .popup-card .info .add-cart-btn {
  color: #fff;
  background: #555;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px 50px;
  border-radius: 20px;
  cursor: pointer;
}

.product .popup-card .info .add-cart-btn:hover {
  background: #009dd2;
}

.product .popup-card .info .color-section .color-select,
.product .popup-card .info .size-section .size-select {
  width: 100%;
  height: 2rem;
}

@media (max-width: 900px) {
  .product .popup-card {
    flex-direction: column;
    width: 550px;
    height: auto;
  }

  .product .popup-card .product-img {
    z-index: 3;
    width: 100%;
    height: 200px;
    transform: translateY(0);
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .product .popup-card .product-img img {
    left: initial;
    max-width: 100%;
  }

  .product .popup-card .info {
    width: 100%;
    height: auto;
    padding: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .product .popup-card .info h2 {
    margin: 20px 5px 5px 5px;
    font-size: 25px;
  }

  .product .popup-card .info h2 span {
    font-size: 10px;
  }

  .product .popup-card .info p {
    margin: 5px;
    font-size: 13px;
  }

  .product .popup-card .info .price {
    margin: 5px;
    font-size: 30px;
  }

  .product .popup-card .info .add-cart-btn {
    margin: 5px auto;
    padding: 5px 40px;
    font-size: 14px;
  }

  .product .popup-card .info .add-wish {
    font-size: 14px;
  }

  .product .popup-card .close-btn {
    z-index: 4;
  }
}

/* CARDS BOX */

.cards-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

/* PRODUCT PAGE - Product BOX */

.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  line-height: 1.5;
}

.card-wrapper img {
  width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img {
  min-width: 100%;
  object-fit: contain;
}

/* img-carousel */

.img-select {
  display: flex;
  overflow: hidden;
}

.slider {
  --items-per-screen: 3;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
  width: calc(100% - 2 * var(--slider-padding));
}

.slider > .img-item {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  border-radius: 0.25rem;
}

.handle {
  z-index: 10;
  border: none;
  border-radius: 0.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 5rem;
  transition: background-color 150ms ease-in-out;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.handle:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.text {
  transition: transform 150ms ease-in-out;
}

.handle:hover .text {
  transform: scale(1.2);
}

.img-item:hover {
  opacity: 0.8;
}

.img-item a img {
  object-fit: contain;
  height: 100%;
}

.progress-bar-container {
  padding: 1rem 0;
}

.progress-bar {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.progress-item {
  flex: 0 0 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-item.active {
  background-color: rgba(0, 0, 0, 0.9);
}

/* img-carousel end*/

.product-content {
  padding: 2rem 1rem;
}

.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}

.product-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background: #12263a;
}

.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover {
  opacity: 0.9;
}
.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.new-price span {
  color: #f64749;
  font-weight: 400;
}
.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.ulist li {
  list-style: none;
  background-size: 1rem;
  /* padding-left: 1.7rem; */
  margin: 0.4rem 0;
  font-weight: 600;
}
.product-detail ul li span {
  font-weight: 400;
}
.purchase-info {
  margin: 1.5rem 0;
}

.purchase-info input {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info input[type="submit"] {
  cursor: pointer;
  color: #fff;
}
.purchase-info input[type="submit"] {
  background: #256eff;
}

.purchase-info input[type="submit"]:hover {
  opacity: 0.9;
}

/* FOOTER */

footer {
  flex: 0 1 40px;
  height: 2.5rem;
  width: 100%;
  background-color: #333333;
  color: #fff;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* REGISTER */
#register {
  display: block;
  background-color: #eee;
}

.message {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 10px;
  background-color: #fff;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  cursor: pointer;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  /* width: 100vw;
  height: 100vh; */
}

.form-container form {
  flex: 0 1 auto;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid #333;
  text-align: center;
  background-color: #fff;
}

.form-container form h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #333;
}

.form-container form .form-box {
  width: 90%;
  border-radius: 5px;
  border: 2px solid #333;
  padding: 12px 14px;
  font-size: 18px;
  margin: 10px 0;
}

.form-container form p {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

.form-container form p {
  color: #e74c3c;
}

.form-container form p a:hover {
  text-decoration: underline;
}

.btn,
.delete-btn,
.option-btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  text-transform: capitalize;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
  background-color: #333;
}
.btn {
  background-color: #3498db;
  margin-top: 10px;
}

.delete-btn {
  background-color: #e74c3c;
}

.option-btn {
  background-color: #f39c12;
}

/* CART */

.heading {
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 5px;
}

.shopping-cart {
  padding: 20px 0;
  margin-top: 85px;
}
/* New shit */
.cart-table,
.cart-table thead,
.cart-table tbody,
.cart-table th,
.cart-table td,
.cart-table tr,
#table_field,
#table_field thead,
#table_field tbody,
#table_field th,
#table_field td,
#table_field tr {
  display: block;
}

.cart-table thead tr,
#table_field thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.cart-table tr,
#table_field tr {
  border: 1px solid #ccc;
}

.cart-table td,
#table_field td {
  position: relative;
}

.cart-table td:before,
#table_field td::before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 110px;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  content: attr(data-title);
  text-transform: capitalize;
  background: #f9f6e0;
  height: 100%;
  overflow: hidden;
}

.no-background:before {
  background-color: inherit !important;
}

.td-wrapper {
  padding-left: 120px;
}

.cart-table tbody tr:nth-of-type(even),
#table_field tbody tr:nth-child(even) {
  background: #eee;
}

/* end new shit */

.cart-table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.cart-table thead {
  background-color: #333;
}

.cart-table thead th {
  padding: 10px;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
}

.cart-table tr td {
  padding: 10px;
  font-size: 20px;
  color: #333;
}

.cart-table tr td:nth-child(1) {
  padding: 0;
}

.cart-table tr td input[type="number"] {
  width: 70px;
  border: 2px solid #333;
  padding: 12px 14px;
  font-size: 20px;
  color: #333;
}

.cart-table .table-bottom {
  background-color: #eee;
}

.cart-table .table-bottom .total::before,
#table_field .table-bottom .total::before {
  background: none;
}

.cart-table .table-bottom .total,
#table_field .table-bottom:last-child {
  text-align: center;
}

.shopping-cart .cart-btn {
  margin-top: 10px;
  text-align: center;
}

.shopping-cart .disabled {
  pointer-events: none;
  background-color: #e74c3c;
  opacity: 0.5;
  user-select: none;
}

/* Checkout page */

.checkout-container {
  width: 100%;
  background: #eee;
}

/* Form Styles */
.checkout-form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #333;
  border-radius: 1rem;
}

.checkout-form h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.nume-prenume {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.nume {
  width: 100%;
}
.checkout-form label {
  display: block;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.checkout-form input[type="text"],
.checkout-form input[type="email"],
.checkout-form input[type="tel"],
.checkout-form select,
.checkout-form select option {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.checkout-form input[type="submit"] {
  display: block;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.checkout-form input[type="submit"]:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid;
}

.checkout-form .showDiv,
.checkout-form .showDiv1 {
  border: 1px solid #333;
  border-radius: 1rem;
  margin: 2rem auto;
  padding: 1rem;
}

/* ACCOUNT */

.wrapper {
  display: flex;
  flex-direction: column;
}

.margin-top {
  margin-top: 85px;
}

.account-detail h1 {
  margin: 12px 0;
  text-align: center;
}

.account-menu {
  align-items: center;
}

.fact-info {
  padding: 12px 16px;
}

.fact-info > p {
  color: #00000067;
}

.large-columns {
  border-top: 2px solid #ccc;
}

.account-menu ul {
  width: 100%;
}

.account-menu ul li:not(:last-child) {
  border-bottom: 2px #f2f2f7 solid;
}

.user-menu-cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  background-color: #ffffff;
  position: relative;
  gap: 10px;
  border-radius: 5px;
  padding: 10px 5px;
}

.user-menu-cards i {
  position: absolute;
  right: 10px;
}

.account-detail form {
  padding: 12px 16px;
  position: relative;
}

.account-detail form input,
.account-detail form textarea,
.account-detail form select {
  border-radius: 6px;
  padding: 12px 10px;
}

.wrapper form .form-row {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 12px 14px;
  font-size: 18px;
  margin: 10px 0;
  gap: 5px;
}
form .form-row .form-col {
  display: flex;
  flex-direction: column;
  padding: 12px 6px;
  width: 100%;
}

.half {
  width: 50%;
}

.account-detail form .submit-button {
  position: absolute;
  background-color: #3498db;
  right: 20px;
  color: #fff;
  border: none;
  padding: 12px 50px;
}

.account-detail form .submit-button:hover,
.account-detail form .submit-button:focus {
  cursor: pointer;
  background-color: #333;
}

/* ORDERS */

#table_field,
#orders_table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
#table_field thead tr,
#orders_table thead tr {
  background-color: #008cba;
  text-align: left;
  font-weight: bold;
}

#table_field tbody tr td img {
  height: 80px;
  object-fit: contain;
}

#table_field th,
#table_field td,
#orders_table th,
#orders_table td {
  padding: 12px 15px;
}
#table_field tbody tr {
  border-bottom: 1px solid #dddddd;
}

.Complete {
  color: rgb(10, 105, 10);
}

.Canceled {
  color: red;
}

.Pending,
.Shipped,
.Processing {
  color: rgb(255, 187, 0);
}

.desktop-show {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 700px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: 700;
}

.modal-header .close-btn {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: 700;
  background: none;
}

.modal-body {
  padding: 10px 15px;
  height: 80vh;
  overflow-y: scroll;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  transition: 200ms ease-in-out;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

/* SHOW MORE TABLE */

.modal-body .table-row {
  display: flex;
  max-width: fit-content;
}

.modal-body .table-cell {
  height: 100px;
  max-height: 100px;
  width: 250px;
  max-width: 250px;
  padding: 1em;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body .table-cell img {
  object-fit: fill;
}

.modal-body .table-row:nth-child(even) {
  background: lightblue;
}

/* ORDER DETAILS */

.order-detail-header {
  padding: 12px 15px;
  width: 100%;
  margin-bottom: 12px;
  background-color: #008cba;
  font-size: 2rem;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) {
  /* HEADER */
  .header {
    display: none;
  }
  .header-large {
    display: block;
  }
  /* MAIN */
  #main,
  .margin-top {
    margin-top: 0;
  }

  .sidebar {
    display: block;
  }
  .main-wrapper {
    padding-top: 0;
  }
  .products-container {
    padding-top: 20px;
  }
  .cards-container {
    gap: 20px 20px;
  }
  .container {
    width: 740px;
  }

  /* product details */

  .slider {
    --items-per-screen: 4;
  }

  /* cart page */

  .shopping-cart {
    margin-top: 0;
  }

  .cart-table,
  #table_field {
    display: table;
  }

  .cart-table thead,
  #table_field thead {
    display: table-header-group;
  }

  .cart-table th,
  .cart-table td,
  #table_field td,
  #table_field th {
    display: table-cell;
  }

  .cart-table tr,
  #table_field tr {
    display: table-row;
  }

  .cart-table tbody,
  #table_field tbody {
    display: table-row-group;
  }

  .cart-table thead tr,
  .cart-table td,
  .cart-table td:before,
  #table_field thead tr,
  #table_field td,
  #table_field td::before {
    position: static;
  }
  .cart-table td:before,
  #table_field td::before {
    content: none;
  }
  .td-wrapper {
    padding-left: 0;
  }

  .cart-table .table-bottom .total {
    text-align: right;
  }

  .align-left {
    text-align: left !important;
  }

  .align-right {
    text-align: right !important;
  }

  /* Account page */

  .flex-content {
    display: flex;
    gap: 1rem;
  }

  .account-menu {
    flex: 0 1 240px;
  }

  /* orders */

  .md-screen {
    display: table-cell;
  }

  /* ORDER DETAILS */

  .user-menu-cards > .title-toggle {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 990px;
  }
  .sidebar {
    flex: 0 0 250px;
  }
  .cards-container {
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* product page - product box */

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }

  /* Account page */

  .account-detail {
    flex: 1 1 auto;
  }
  .form-row {
    display: flex;
  }

  /* orders */

  .desktop-show {
    display: table-cell;
  }

  /* ORDER DETAILS */

  .user-menu-cards > .title-toggle {
    display: inline-block;
  }
}

@media screen and (min-width: 1260px) {
  .container {
    width: 1250px;
  }
  .large-columns {
    display: flex;
  }
  .fact-info {
    flex: 1 1 40%;
  }
  .large-columns form {
    flex: 1 1 60%;
  }

  .order-detail {
    width: 100%;
  }
}

@media screen and (min-width: 1530px) {
  .container {
    width: 1530px;
  }
}
