@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,700;1,400;1,700&family=Roboto+Condensed:ital@1&family=Roboto:wght@700&display=swap");

html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* HEADER */

header {
  background-color: rgb(30, 30, 35);
}

.logo {
  height: 5rem;
}

.navigation-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hamburger {
  /* position: absolute; */
  left: 3%;
  font-size: 2rem;
  background-color: initial;
  cursor: pointer;
  color: #fff;
  border: none;
}

header > nav {
  display: none;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(30, 30, 35, 1);
  z-index: 10000;
  width: 100%;
}

header > nav > .header-close-btn {
  position: absolute;
  right: 0.5rem;
  top: 0;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

header > nav > .header-close-btn .i {
  padding: 1rem;
}

header > nav > aside {
  display: flex !important;
}

.show-menu {
  display: block;
}

header > nav > aside .buttons-container {
  padding-top: 1rem;
  width: 100%;
}

header > nav > aside .buttons-container a {
  background-color: rgba(0, 0, 0, 0.1);
}

aside .buttons-container a {
  position: relative;
  text-align: left;
}

aside .buttons-container a i {
  position: absolute;
  right: 1rem;
}

/* MAIN */

.width {
  width: 100%;
}

.message {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 10px;
  background-color: #5a5a5a;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  min-height: 90vh;
}

.sidebar {
  display: none;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 20px;
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 12px 15px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  gap: 5px;
}

.buttons {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  /* display: inline-block; */
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
  flex-shrink: 1;
}

.buttons:hover {
  background-color: cyan;
}

.danger {
  background-color: red;
}
.danger:hover {
  background-color: #5a5a5a;
}

/* factura_box */

#factura_box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* FORM */

textarea {
  font-size: 1.5rem;
}

select,
option,
input,
label,
.search_form button {
  padding: 0.2rem 1rem;
  font-size: 1.1rem;
  width: 100%;
}

.form-box {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.form-box label {
  display: none;
}

/* ORDERS */

.orders-wrapper {
  width: 100%;
}

.search-wrapper {
  padding: 12px 0;
}

.search_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.checkbox-container {
  display: flex;
  padding: 0.25rem 0;
}

#categorii {
  margin-bottom: 0.5rem;
}

#checkbox-search {
  padding: 12px 15px;
}

.page {
  background-color: #008cba;
  cursor: pointer;
  padding: 0 0.5rem;
  /* margin: 0.75rem 0.15rem; */
  color: #ccc;
}

.page.active {
  background-color: #090dfac7;
  cursor: default;
}

.page.inactive {
  background-color: #5a5a5a;
  cursor: default;
}

.pager {
  display: flex;
  flex-direction: column;
}

.pagination,
.pager-buttons {
  display: flex;
  gap: 0.25rem;
}

.page-numbers {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.pager-buttons > a {
  align-self: center;
}

#table_field,
#table_field--wide {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
#table_field thead tr,
#table_field--wide thead tr {
  background-color: #008cba;
  text-align: left;
  font-weight: bold;
}

#table_field tbody tr td img,
#table_field--wide tbody tr td img {
  height: 80px;
}

#table_field th,
#table_field td,
#table_field--wide th,
#table_field--wide td {
  padding: 12px 15px;
}
#table_field tbody tr,
#table_field--wide tbody tr {
  border-bottom: 1px solid #dddddd;
}

.total {
  text-align: end;
}

.padding-right {
  padding-right: 0.5rem;
}

/* new shit */

#table_field,
#table_field thead,
#table_field tbody,
#table_field th,
#table_field td,
#table_field tr,
#table_field--wide,
#table_field--wide thead,
#table_field--wide tbody,
#table_field--wide th,
#table_field--wide td,
#table_field--wide tr {
  display: block;
}

#table_field thead tr,
#table_field--wide thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#table_field tr,
#table_field--wide tr {
  border: 1px solid #ccc;
}

#table_field td,
#table_field--wide td {
  position: relative;
}

#table_field td::before,
#table_field--wide td::before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 110px;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  content: attr(data-title);
  text-transform: capitalize;
  background: #f9f6e0;
  height: 100%;
  overflow: hidden;
}

.no-background:before {
  background-color: inherit !important;
}

.td-wrapper {
  padding-left: 120px;
  display: flex;
  gap: 0.5rem;
  flex-shrink: 1;
}

#table_field tbody tr:nth-child(even),
#table_field--wide tbody tr:nth-child(even) {
  background: #eee;
}

/* end new shit */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 700px;
  max-width: 80%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: 700;
}

.modal-header .close-btn {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: 700;
  background: none;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  transition: 200ms ease-in-out;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

/* SHOW MORE TABLE */

.modal-body .table-row {
  display: flex;
  max-width: fit-content;
}

.modal-body .table-cell {
  height: 100px;
  max-height: 100px;
  width: 250px;
  max-width: 250px;
  padding: 1em;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body .table-cell img {
  object-fit: fill;
}

.modal-body .table-row:nth-child(even) {
  background: lightblue;
}

/* ORDER DETAILS */

.order-detail-header {
  padding: 12px 15px;
  width: 100%;
  margin-bottom: 12px;
  background-color: #008cba;
  font-size: 2rem;
}

.table-container {
  width: 100%;
}

.info {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* PRODUCT FORM */
.prod-form-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: column;
}
.product-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-form .form-group {
  display: flex;
  gap: 5px;
}
.submit-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.submit-group input {
  width: 100%;
}

.product-form .form-group .group-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-form .form-group .group-row.add-image {
  justify-content: flex-start;
}

#product_attr_box {
  flex-direction: column;
}

#product_attr_box .group-col {
  display: flex;
  gap: 5px;
  width: 100%;
}

#product_attr_box .group-row-atr {
  display: flex;
  gap: 5px;
}

#product_attr_box .group-row-atr .col {
  display: flex;
  flex-direction: column;
}
.add-more-stoc {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .navigation-container {
    justify-content: space-between;
    padding: 0 2rem;
  }

  .sidebar {
    display: block;
  }

  .sidebar {
    flex: 0 1 200px;
  }
}

@media screen and (min-width: 992px) {
  #table_field {
    display: table;
  }

  #table_field thead {
    display: table-header-group;
  }

  #table_field td,
  #table_field th {
    display: table-cell;
  }

  #table_field tr {
    display: table-row;
  }

  #table_field tbody {
    display: table-row-group;
  }

  #table_field thead tr,
  #table_field td,
  #table_field td::before {
    position: static;
  }

  #table_field td::before {
    content: none;
  }

  #table_field .td-wrapper {
    padding-left: 0;
  }

  /* ORDERS */

  .search_form {
    flex-direction: row;
  }
  .search_form > label {
    padding-left: 0;
    padding-right: 0;
    width: min-content;
  }
}

@media screen and (min-width: 1260px) {
  #table_field--wide {
    display: table;
  }

  #table_field--wide thead {
    display: table-header-group;
  }

  #table_field--wide td,
  #table_field--wide th {
    display: table-cell;
  }

  #table_field--wide tr {
    display: table-row;
  }

  #table_field--wide tbody {
    display: table-row-group;
  }

  #table_field--wide thead tr,
  #table_field--wide td,
  #table_field--wide td::before {
    position: static;
  }

  #table_field--wide td::before {
    content: none;
  }

  #table_field--wide .td-wrapper {
    padding-left: 0;
  }
}

@media screen and (min-width: 1530px) {
}

@media all and (min-width: 500px) {
  .form-box label {
    display: block;
  }
}

@media all and (min-width: 600px) {
  .form-box {
    flex-direction: row;
  }
  .form-box label {
    flex-basis: 9rem;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .form-box .buttons {
    margin-left: 9rem;
  }
  .form-box input,
  .form-box select,
  .form-box textarea {
    flex: 1, 1, 0;
  }
}
